<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>

    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.20.0/dist/tf.min.js" integrity="sha256-ywP2rQ+ZI3bcxzXcNCaQFHfKBcQ04DIfByuUhpp8wr0=" crossorigin="anonymous"></script>    
    
    <script src="js/organizer.js"></script>

    <script src="index.js"></script>
</head>
<body>
    <a href="../explore/index.html"><button class="go-back">Go Back</button></a>
    <div class="container"></div>
</body>
</html>